In [1]:
import pandas as pd
import numpy as np

# Madrid pollution

In [3]:
def open_clean_csv(year):

    pollution=pd.read_csv(f"./pollution_madrid/madrid_{year}.csv")
    
    if "NOx" not in list(pollution.columns):
        pollution=pollution.assign(NOx="nan")
        
    col_to_keep=["date","CO","NO_2","NOx", "O_3", "PM10", "PM25", "SO_2"]
    cols_to_drop=[col for col in pollution if col not in col_to_keep]
    
    pollution.drop(cols_to_drop,axis=1,inplace=True)
    pollution["date"]=pollution["date"].str.split(" ").str[0]
    
    new_df = pollution.groupby("date").mean().reset_index()
    if "NOx" not in list(new_df.columns):
        new_df=new_df.assign(NOx="nan")
    new_df = new_df[["date","CO","NO_2","NOx", "O_3", "PM10", "PM25", "SO_2"]]
    return new_df

In [4]:
poll_mad = pd.DataFrame()
for year in range(2008,2019):
    df_year=open_clean_csv(year)
    poll_mad=poll_mad.append(df_year,ignore_index=True)
poll_mad=poll_mad.assign(city="madrid")

In [5]:
poll_mad

,date,CO,NO_2,NOx,O_3,PM10,PM25,SO_2,city
0,2008-01-01,0.652554,67.084565,136.804,9.280977,39.855419,25.650870,19.815357,madrid
1,2008-01-02,0.531806,66.552372,126.825,9.750819,21.005401,15.767895,14.897970,madrid
2,2008-01-03,0.360000,50.410930,75.0393,30.313847,9.173423,5.617396,10.923919,madrid
3,2008-01-04,0.458993,58.247292,102.346,20.756432,21.390939,13.236000,12.875144,madrid
4,2008-01-05,0.389635,47.282292,74.3136,20.405407,18.745682,12.485729,11.804503,madrid
...,...,...,...,...,...,...,...,...,...
3779,2018-04-27,0.249583,26.074783,37.9391,65.695783,26.278317,10.256944,3.677966,madrid
3780,2018-04-28,0.212917,13.512153,17.8958,71.706587,10.971154,5.930556,3.604167,madrid
3781,2018-04-29,0.218333,11.098958,14.6979,78.044643,6.955128,3.229167,3.591667,madrid
3782,2018-04-30,0.236250,20.576389,27.5503,68.814925,6.862179,3.354167,3.800000,madrid
3783,2018-05-01,0.250000,29.125000,33.75,56.357143,4.461538,2.666667,4.500000,madrid

# Hong Kong

## HK daily means on air pollutant index 2008-2018 
Source: https://cd.epic.epd.gov.hk/EPICDI/air/station/?lang=en

    - Data is provided by Hong Kong Environmental Protection Department

In [7]:
# Trials
col_names = ['date','Station','CO','PM25','NO_2','NOx','O_3','PM10','SO2']

df = pd.read_csv("./Hong Kong Data/HK_pollution_data/200801.csv",na_values='N.A.',names=col_names)
df

,date,Station,CO,PM25,NO_2,NOx,O_3,PM10,SO2
0,Remarks:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1. All Pollutant unit in Î¼g/m3 except CO which...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2. N.A. = data not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3. CO = Carbon Monoxide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4. FSP = Fine Suspended Particulates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5. NO2 = Nitrogen Dioxide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6. NOX = Nitrogen Oxides,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7. O3 = Ozone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8. RSP = Respirable Suspended Particulates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9. SO2 = Sulphur Dioxide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,DATE,STATION,CO,FSP,NO2,NOX,O3,RSP,SO2
11,01-01-2008,CENTRAL/WESTERN,NaN,NaN,51,63,47,70,28
12,02-01-2008,CENTRAL/WESTERN,NaN,NaN,67,85,45,64,35
13,03-01-2008,CENTRAL/WESTERN,NaN,NaN,101,144,37,87,45
14,04-01-2008,CENTRAL/WESTERN,NaN,NaN,69,95,44,59,22
15,05-01-2008,CENTRAL/WESTERN,NaN,NaN,99,126,40,76,37
16,06-01-2008,CENTRAL/WESTERN,NaN,NaN,68,80,49,53,20
17,07-01-2008,CENTRAL/WESTERN,NaN,NaN,129,296,15,82,58
18,08-01-2008,CENTRAL/WESTERN,NaN,NaN,75,87,48,67,30
19,09-01-2008,CENTRAL/WESTERN,NaN,NaN,69,80,49,64,27
20,10-01-2008,CENTRAL/WESTERN,NaN,NaN,69,84,45,91,22
21,11-01-2008,CENTRAL/WESTERN,NaN,NaN,64,125,13,71,21
22,12-01-2008,CENTRAL/WESTERN,NaN,NaN,65,171,7,42,38
23,13-01-2008,CENTRAL/WESTERN,NaN,NaN,53,85,19,62,27
24,14-01-2008,CENTRAL/WESTERN,NaN,NaN,59,92,14,50,23
25,15-01-2008,CENTRAL/WESTERN,NaN,NaN,63,106,13,65,27
26,16-01-2008,CENTRAL/WESTERN,NaN,NaN,64,110,13,53,27
27,17-01-2008,CENTRAL/WESTERN,NaN,NaN,59,130,8,72,33
28,18-01-2008,CENTRAL/WESTERN,NaN,NaN,51,67,24,43,22
29,19-01-2008,CENTRAL/WESTERN,NaN,NaN,53,66,30,35,NaN
30,20-01-2008,CENTRAL/WESTERN,NaN,NaN,63,151,32,42,NaN
31,21-01-2008,CENTRAL/WESTERN,NaN,NaN,115,222,16,152,NaN
32,22-01-2008,CENTRAL/WESTERN,NaN,NaN,122,221,18,131,NaN
33,23-01-2008,CENTRAL/WESTERN,NaN,NaN,107,183,11,112,50
34,24-01-2008,CENTRAL/WESTERN,NaN,NaN,62,108,14,65,17
35,25-01-2008,CENTRAL/WESTERN,NaN,NaN,52,84,11,56,14
36,26-01-2008,CENTRAL/WESTERN,NaN,NaN,50,125,7,42,21
37,27-01-2008,CENTRAL/WESTERN,NaN,NaN,48,140,3,27,26
38,28-01-2008,CENTRAL/WESTERN,NaN,NaN,70,224,5,57,43
39,29-01-2008,CENTRAL/WESTERN,NaN,NaN,59,232,3,47,52
40,30-01-2008,CENTRAL/WESTERN,NaN,NaN,48,144,5,19,23
41,31-01-2008,CENTRAL/WESTERN,NaN,NaN,56,145,4,20,21

In [8]:
df_2 = df.drop(list(range(0,11))).copy()
df_2['date'] = pd.to_datetime(df_2['date'])
df_2

         date          Station   CO PM25 NO_2  NOx O_3 PM10  SO2
11 2008-01-01  CENTRAL/WESTERN  NaN  NaN   51   63  47   70   28
12 2008-02-01  CENTRAL/WESTERN  NaN  NaN   67   85  45   64   35
13 2008-03-01  CENTRAL/WESTERN  NaN  NaN  101  144  37   87   45
14 2008-04-01  CENTRAL/WESTERN  NaN  NaN   69   95  44   59   22
15 2008-05-01  CENTRAL/WESTERN  NaN  NaN   99  126  40   76   37
16 2008-06-01  CENTRAL/WESTERN  NaN  NaN   68   80  49   53   20
17 2008-07-01  CENTRAL/WESTERN  NaN  NaN  129  296  15   82   58
18 2008-08-01  CENTRAL/WESTERN  NaN  NaN   75   87  48   67   30
19 2008-09-01  CENTRAL/WESTERN  NaN  NaN   69   80  49   64   27
20 2008-10-01  CENTRAL/WESTERN  NaN  NaN   69   84  45   91   22
21 2008-11-01  CENTRAL/WESTERN  NaN  NaN   64  125  13   71   21
22 2008-12-01  CENTRAL/WESTERN  NaN  NaN   65  171   7   42   38
23 2008-01-13  CENTRAL/WESTERN  NaN  NaN   53   85  19   62   27
24 2008-01-14  CENTRAL/WESTERN  NaN  NaN   59   92  14   50   23
25 2008-01-15  CENTRAL/WESTERN  NaN  NaN   63  106  13   65   27
26 2008-01-16  CENTRAL/WESTERN  NaN  NaN   64  110  13   53   27
27 2008-01-17  CENTRAL/WESTERN  NaN  NaN   59  130   8   72   33
28 2008-01-18  CENTRAL/WESTERN  NaN  NaN   51   67  24   43   22
29 2008-01-19  CENTRAL/WESTERN  NaN  NaN   53   66  30   35  NaN
30 2008-01-20  CENTRAL/WESTERN  NaN  NaN   63  151  32   42  NaN
31 2008-01-21  CENTRAL/WESTERN  NaN  NaN  115  222  16  152  NaN
32 2008-01-22  CENTRAL/WESTERN  NaN  NaN  122  221  18  131  NaN
33 2008-01-23  CENTRAL/WESTERN  NaN  NaN  107  183  11  112   50
34 2008-01-24  CENTRAL/WESTERN  NaN  NaN   62  108  14   65   17
35 2008-01-25  CENTRAL/WESTERN  NaN  NaN   52   84  11   56   14
36 2008-01-26  CENTRAL/WESTERN  NaN  NaN   50  125   7   42   21
37 2008-01-27  CENTRAL/WESTERN  NaN  NaN   48  140   3   27   26
38 2008-01-28  CENTRAL/WESTERN  NaN  NaN   70  224   5   57   43
39 2008-01-29  CENTRAL/WESTERN  NaN  NaN   59  232   3   47   52
40 2008-01-30  CENTRAL/WESTERN  NaN  NaN   48  144   5   19   23
41 2008-01-31  CENTRAL/WESTERN  NaN  NaN   56  145   4   20   21

## Align column names
Original data use Respirable Suspended Particulates (RSP) instead of PM10 and Fine Suspended Particulates (FSP) instead PM25. Align columns' names with DataFrames in the other cities.

In [10]:
year = list(range(2008,2019))
month = list(range(1,13))

# format month number to 2 digits with lead zero
formatter = "{:02d}".format
month = [formatter(m) for m in month]

col_names = ['date','Station','CO','PM25','NO_2','NOx','O_3','PM10','SO_2']

hk_pollution = pd.DataFrame(columns=col_names)
hk_pollution

for y in year:
    for m in month:
        df = pd.read_csv(f"./Hong Kong Data/HK_pollution_data/{y}{m}.csv",na_values='N.A.',names=col_names)
        df = df.drop(list(range(0,11))).copy()
        df['date'] = pd.to_datetime(df['date'])
        hk_pollution = pd.concat([hk_pollution,df])

# Edit columns

In [11]:
# Drop 'Station' column 
hk_pollution.drop('Station',axis=1)

# Align column names with DataFrames in other cities 
hk_pollution = hk_pollution[['date','CO','NO_2','NOx','O_3','PM10','PM25','SO_2']]

# Add 'city' column
hk_pollution = hk_pollution.assign(city='Hong Kong')

In [12]:
hk_pollution = hk_pollution.reset_index(drop=True)
hk_pollution

           date   CO NO_2  NOx O_3 PM10 PM25 SO_2       city
0    2008-01-01  NaN   51   63  47   70  NaN   28  Hong Kong
1    2008-02-01  NaN   67   85  45   64  NaN   35  Hong Kong
2    2008-03-01  NaN  101  144  37   87  NaN   45  Hong Kong
3    2008-04-01  NaN   69   95  44   59  NaN   22  Hong Kong
4    2008-05-01  NaN   99  126  40   76  NaN   37  Hong Kong
...         ...  ...  ...  ...  ..  ...  ...  ...        ...
4011 2018-12-27  NaN   63  102  35   43   32    6  Hong Kong
4012 2018-12-28  NaN   40   52  37   32   22    2  Hong Kong
4013 2018-12-29  NaN   39   57  16   27   18    2  Hong Kong
4014 2018-12-30  NaN   37   51  23   47   34    3  Hong Kong
4015 2018-12-31  NaN   50   82  12   40   30    3  Hong Kong

[4016 rows x 9 columns]