In [8]:
import pandas as pd
import numpy as np

In [9]:
berlin_district = {"Wedding" : "mc010",
                  "Schöneberg" : "mc018",
                  "Marienfelde" : "mc027",
                  "Grunewald" : "mc032",
                  "Neukölln" : "mc042",
                  "Buch" : "mc077",
                  "Friedrichshagen" : "mc085",
                  "Messwagen Leipziger Str." : "mw088",
                  "Hardenbergplatz" : "mc115",
                  "Schildhornstraße"  :"mc117",
                  "Mariendorfer Damm" : "mc124",
                  "Silbersteinstraße" : "mc143",
                  "Frohnau" : "mc145",
                  "Mitte" : "mc171",
                  "Frankfurter Allee" : "mc174",
                  "Karl-Marx-Straße" : "mc220",
                  "Karlshorst" : "mc282"}

berlin_period = {"Dayly" : "24h",
                "Hourly" : "1h",
                "Monthly" : "1m"}

In [180]:
# load multiple csv of website, for all districts of berlin
period  = berlin_period["Dayly"]
start = "01.01.2000"
end = "30.10.2019"

for key, value in berlin_district.items():
    csv_downloadlink = "https://luftdaten.berlin.de/station/{0}.csv?group=pollution&period={1}&timespan=custom&start%5Bdate%5D={2}&start%5Bhour%5D=00&end%5Bdate%5D={3}&end%5Bhour%5D=00".format(value, period, start, end)
    district = pd.read_csv(csv_downloadlink, sep=";", header=[1,2])
    district = district.assign(Ortschaft = key).drop([district.index[0]])
    district.columns = [f'{i}{j}' for i, j in district.columns]
    district.to_csv(path_or_buf="././Berlin_Data/"+value +".csv")

In [181]:
df_1 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_2 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_3 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_4 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_4 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_5 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_6 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_7 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_8 = pd.read_csv("././Berlin_Data/"+"mc010"+".csv", sep=",", index_col=0)
df_9 = pd.read_csv("././Berlin_Data/"+"mc117"+".csv", sep=",", index_col=0) #bis hier mit 'Ozonµg/m³', 'Benzolµg/m³', 'Toluolµg/m³'
df_10 = pd.read_csv("././Berlin_Data/"+"mc124"+".csv", sep=",", index_col=0)
df_11 = pd.read_csv("././Berlin_Data/"+"mc143"+".csv", sep=",", index_col=0)
df_12 = pd.read_csv("././Berlin_Data/"+"mc145"+".csv", sep=",", index_col=0)
df_13 = pd.read_csv("././Berlin_Data/"+"mc171"+".csv", sep=",", index_col=0)
df_14 = pd.read_csv("././Berlin_Data/"+"mc174"+".csv", sep=",", index_col=0)
df_15 = pd.read_csv("././Berlin_Data/"+"mc220"+".csv", sep=",", index_col=0)
df_16 = pd.read_csv("././Berlin_Data/"+"mc282"+".csv", sep=",", index_col=0)

In [182]:
df_final = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12, df_13, df_14, df_15, df_16])

C:\Users\Andres\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [183]:
df_final["MesskomponenteEinheit"] = pd.to_datetime(df_final["MesskomponenteEinheit"], infer_datetime_format=True)
#df_final.set_index(df_final["MesskomponenteEinheit"], drop=True, inplace=True)

In [184]:
set(df_final["Ortschaft"])

{'Frankfurter Allee',
 'Frohnau',
 'Karl-Marx-Straße',
 'Karlshorst',
 'Mariendorfer Damm',
 'Mitte',
 'Schildhornstraße',
 'Silbersteinstraße',
 'Wedding'}

In [185]:
#df_final.set_index(df_final["MesskomponenteEinheit"], drop=True)
df_final = df_final.rename(columns={"Feinstaub (PM10)µg/m³" : "PM10",
                                    "Kohlenmonoxidmg/m³" : "CO",
                                    "Stickoxideµg/m³": "NOx",
                                    "Stickstoffdioxidµg/m³" : "NO_2", 
                                    "Ozonµg/m³" : "O_3",
                                    "Stickstoffmonoxidµg/m³" : "NOx",
                                    "Schwefeldioxidµg/m³" : "SO_2", 
                                    "Ortschaft" : "city",
                                    "MesskomponenteEinheit" : "date"
                                   }
                          )
df_final = df_final.drop(["Benzolµg/m³", "city", "Toluolµg/m³"], axis=1)

In [186]:
df_final = df_final.groupby("date").mean().reset_index()
df_final["city"] = "berlin"
df_final["PM25"] = np.nan
poll_ber = df_final[["date","CO","NO_2","NOx", "O_3", "PM10", "PM25", "SO_2"]]

In [187]:
poll_ber

,date,CO,NO_2,NOx,NOx,O_3,PM10,PM25,SO_2
0,2009-10-29,0.50,34.2500,68.7500,22.5000,10.777778,20.142857,NaN,1.5
1,2009-10-30,0.70,38.9375,89.2500,32.8125,11.555556,20.857143,NaN,1.5
2,2009-10-31,0.65,34.0000,66.6875,21.1250,17.000000,31.714286,NaN,4.0
3,2009-11-01,0.60,25.7500,46.7500,14.0625,13.666667,49.000000,NaN,6.0
4,2009-11-02,0.85,41.9375,100.6250,38.3750,7.333333,36.142857,NaN,4.0
...,...,...,...,...,...,...,...,...,...
3648,2019-10-25,0.40,35.2500,72.5625,24.1875,18.400000,21.142857,NaN,1.0
3649,2019-10-26,0.30,20.5625,34.4375,9.1250,38.100000,13.857143,NaN,1.0
3650,2019-10-27,0.25,19.3125,29.2500,6.5000,45.900000,11.142857,NaN,1.0
3651,2019-10-28,0.35,32.1875,61.4375,19.1250,32.600000,11.500000,NaN,2.0
3652,2019-10-29,0.30,33.9375,58.4375,15.6250,25.600000,13.571429,NaN,0.0

In [14]:
# load all raw data in one df
df = pd.DataFrame(columns=col_names)
Unite = "µg/m³"

for key, value in berlin_district.items():
    value = pd.read_csv("././Berlin_Data/"+value+".csv", sep=",", index_col=0)#, names=col_names)
    #value" = df_value #, left_index=True)#, right)#,  on="id")
    df = pd.concat(df, value)
    
    break

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"